.dialogTitle{
    text-align: center;
}

.buttonElements {
    font-size: 10px !important;
    padding: 10px !important;
    margin: 10px !important;
    width: 100vh;
    text-decoration: none;
}

.buttonElements:hover {
    color: white;
}
.closeIconBox {
    position: relative;
}
.closeIcon {
position: absolute;
top: 23px;
right: 10px;
background-color: white;
border-style: solid;
cursor: pointer;
border: 2px solid black;
border-radius: 50px;

}