$clrA: #F7901D;
$clrA-light: #f7a84f;

$clrB: #1C1C1C;
$clrB-light: #3b3b3b;


$clrC: #49494A;

$clrD: #18749C;
$clrD-light: rgb(53, 143, 182);

$clrWhite: #fff !default;
$clrGray-100: #f8f9fa !default;
$clrGray-200: #eef5f9 !default;
$clrGray-300: #dee2e6 !default;
$clrGray-400: #ced4da !default;
$clrGray-500: #adb5bd !default;
$clrGray-600: #757e85 !default;
$clrGray-700: #495057 !default;
$clrGray-800: #343a40 !default;
$clrGray-900: #1e2a35 !default;
$clrBlack: #000 !default;
$clrRed: red;


