@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@import "./variables";
@import "./colors";

// html,
// body,
// div,
// span,
// applet,
// object,
// iframe,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// blockquote,
// pre,
// a,
// abbr,
// acronym,
// address,
// big,
// cite,
// code,
// del,
// dfn,
// em,
// img,
// ins,
// kbd,
// q,
// s,
// samp,
// small,
// strike,
// strong,
// sub,
// sup,
// tt,
// var,
// b,
// u,
// i,
// center,
// dl,
// dt,
// dd,
// ol,
// ul,
// li,
// fieldset,
// form,
// label,
// legend,
// table,
// caption,
// tbody,
// tfoot,
// thead,
// tr,
// th,
// td,
// article,
// aside,
// canvas,
// details,
// embed,
// figure,
// figcaption,
// footer,
// header,
// hgroup,
// menu,
// nav,
// output,
// ruby,
// section,
// summary,
// time,
// mark,
// audio,
// video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article,
// aside,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// menu,
// nav,
// section {
//   display: block;
// }
// body {
//   line-height: 1;
// }
// ol,
// ul {
//   list-style: none;
// }
// blockquote,
// q {
//   quotes: none;
// }
// blockquote:before,
// blockquote:after,
// q:before,
// q:after {
//   content: "";
//   content: none;
// }
// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }
body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}

/* Additional styles for other elements */
h1, h2, h3, p /* Add other element selectors as needed */ {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}

h1 {
  display: block;
  font-size: $fn-sz-h1;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: $fn-weight-bold;
}

h2 {
  display: block;
  font-size: $fn-sz-h2;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: $fn-weight-bold;
}

h3 {
  display: block;
  font-size: $fn-sz-h3;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: $fn-weight-bold;
}

h4 {
  display: block;
  font-size: $fn-sz-h4;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: $fn-weight-bold;
}

h5 {
  display: block;
  font-size: $fn-sz-h4;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal !important;
  // font-weight: $fn-weight-bold;
}

// input {
//   box-sizing: border-box;
//   margin: 0;
//   font-variant: tabular-nums;
//   list-style: none;
//   font-feature-settings: "tnum";
//   position: relative;
//   display: inline-block;
//   // width: 20%;
//   min-width: 0;
//   padding: $two 3 * $two;
//   color: rgba(0, 0, 0, 0.85);
//   font-size: $fn-sz-base;
//   line-height: 1.5715;
//   background-color: $clrWhite;
//   background-image: none;
//   border: 1px solid $clrGray-900;
//   border-radius: 2px;
//   transition: all 0.3s;

//   &:focus {
//     border: 1px solid $clrD-light;
//     outline: 0;
//     transition: all 0.3s;
//   }
// }

.btn-s {
  background-color: $clrA;
  border: none;
  color: $clrWhite;
  padding: $two 3 * $two;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.87*$fn-sz-base;
  font-weight: 400;
  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
  &:hover {
    background-color: $clrA-light;
    transition: all 0.3s;
  }
}

.btn-s-1 {
  background-color: $clrD;
  border: none;
  color: $clrWhite;
  padding: $two 3 * $two;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.87*$fn-sz-base;
  font-weight: 400;

  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
  &:hover {
    background-color: $clrD-light;
    transition: all 0.3s;
  }
}

.btn-d {
  background-color: red;
  border: none;
  color: $clrWhite;
  padding: $two 3 * $two;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.87*$fn-sz-base;
  font-weight: 400;

  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
  &:hover {
    background-color: rgb(252, 63, 63);
    transition: all 0.3s;
  }
}

.btn-c {
  background-color: "#FCFCFC";
  border: 1px solid #ced4da;
  color: #888a8b;
  padding: $two 3 * $two;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.87*$fn-sz-base;
  font-weight: 400;

  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
  &:hover {
    background-color: #e9e8e8;
    transition: all 0.3s;
  }
}

// button:disabled {
//   pointer-events: none;
// }

.App {
  text-align: center;
  height: 100vh;
  display: inline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-left {
  text-align: left;
}

.card-header {
  text-align: left;
  background-color: $clrC !important;
  color: #ffffff !important;
  width: 100% !important;
}

.Card-outer {
  background-color: white !important;
  border: none !important;
  border-radius: 0px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Card-progressbar {
  padding: 3%;
  box-shadow: none !important;
  &:hover {
    box-shadow: none !important;
  }
}

.custom-button {
  background-color: #f7901d !important;
  border-color: #f7901d !important;
  color: #ffffff !important;
}

/* Apply a border radius of 1rem to all Card components */
.card {
  border-radius: 0.5rem !important;
  margin-top: 0% !important;
}

// /* Apply a shadow effect to all Card components */
// .card {
//   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10);
// }

// /* Increase the intensity of the shadow effect on hover */
// .card:hover {
//   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
// }

.icon:hover {
  color: $clrD;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.App {
  height: "480px";
  overflow: "auto";
}

.alertStyle {
  border-radius: 0;
  padding: "1.25rem";
  width: "400px";
  height: "120px";
  align-items: "center";
  justify-content: "space-evenly";
}

.messageStyle {
  margin-bottom: "0.5rem";
}

.card-body.custom-card-body {
  color: #4f4f4f; /* Set your desired font color */
  font-size: "14px" !important;
}

.custom-footer {
  background-color: #fcfcfc;
  color: #4f4f4f; /* Set your desired font color */
  font-size: "14px" !important;
  border-top: 2px solid #ebeaea; /* Replace 'red' with your desired color */
  border-width: 3px; /* Replace '3px' with your desired width */
}

.custom-card {
  border-color: #fcfcfc;
  /* Set your desired font color */
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.delete-btn:focus {
  outline: none;
}

/* Optional: Add hover effect to the icon */
.delete-btn:hover .bi-x-lg {
  transform: scale(1.1);
}

.tab-content {
  padding-top: 10px; /* Add some padding to separate tabs from content */
}

// .nav-tabs {
//   border-bottom: none; /* Remove the default bottom border of the tab bar */
// }

// .nav-tabs .nav-link {
//   padding: 0.25rem 1rem; /* Adjust the padding to decrease the tab height */
//   font-size: 12px; /* You can adjust the font size as well */
//   color: $clrA
// }
// .navigation-buttons {
//   position: absolute;
//   // top: 10px;
//   left: 25px;
//   width:100px;
// }
// .navigation-buttons .btn {
//   padding: 0.25rem 0.5rem; /* Adjust the padding to decrease the button height */
//   font-size: 12px; /* You can adjust the font size as well */
// }

.directory-path {
  margin-left: 10px;
  font-size: 14px;
  color: $clrD;
}

.directory-path span {
  cursor: pointer;
}

.full-screen-page {
  height: 100vh;
  background-color: #f0f0f0; /* Set your desired background color */
  padding: 20px;
}

.pipeline-card {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 15px;
  padding: 10px;
  background-color: #ffffff; /* Set your desired card background color */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pipeline-card h2 {
  margin-top: 10px;
  font-size: 18px;
  margin-left: 10px;
}

.pipeline-card svg {
  // margin-bottom: 10px;
}

.icon-container {
align-items: center;
}

.close-x {
  margin-right: 0.25rem;
  color: #a8a9aa !important; /* Default text color */
  border-color: #a8a9aa  !important; /* Default outline color */

  /* Change color on hover */
  &:hover {
    color: white !important; /* New text color on hover */
    border-color: #a8a9aa  !important; /* New outline color on hover */
    background-color: #a8a9aa  !important;
  }
}

.searchOb {

  &:focus{
    border-width: 1px !important;
  }
}

.status-cell {
  display: flex;
  align-items: center;
   width: 15px; /* Set a fixed width for the cell */
  // white-space: nowrap; /* Prevent text from wrapping */
  // overflow: hidden; /* Hide overflow text if it doesn't fit */
}

.status-dot {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px; /* Add spacing between dot and status text */
}

.success-dot {
  background-color: green;
}

.failure-dot {
  background-color: red;
}

.icon-green,
.icon-red,
.icon-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

.icon-green {
  background-color: green;
  color: white;
}

.icon-red {
  background-color: #fa8c0f;
  color: white;
}

.icon-blue {
  background-color: #18749C;
  color: white;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #719bc9;
  color: white;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 15px;
} 

.custom-borderless-table {
  border: none !important;
}

.custom-borderless-rows td {
  border: none;
  border-top: 1px solid #dee2e6; /* Set the desired border color and style */
}

.metric-card {
  width: 200px;
  min-height: 300px;
  border: none !important;
  // border-right: 1px solid #dee2e6 !important;
  border-radius: 0px !important;
  margin-left: 30px;
}

.metric-list {
  display: flex;
  align-items: center;
  // justify-content: center;
  height: 50px;
  background-color: #eef5f9;
  padding: 10px;
  color: #4f4f4f;
  cursor: pointer;
}

.metric-list:hover{

  background-color: white;
}







