/* TYPOGRAPHY */
/* Google fns */
@import url("https://fns.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
@import url("https://fns.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900");
h1 {
  display: block;
  font-size: 2.5rem;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 2rem;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.75rem;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1.5rem;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 1.5rem;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal !important;
}

.btn-s {
  background-color: #F7901D;
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
}
.btn-s:hover {
  background-color: #f7a84f;
  transition: all 0.3s;
}

.btn-s-1 {
  background-color: #18749C;
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
}
.btn-s-1:hover {
  background-color: rgb(53, 143, 182);
  transition: all 0.3s;
}

.btn-d {
  background-color: red;
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
}
.btn-d:hover {
  background-color: rgb(252, 63, 63);
  transition: all 0.3s;
}

.btn-c {
  background-color: #dee2e6;
  border: none;
  color: #343a40;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
}
.btn-c:hover {
  background-color: #eef5f9;
  transition: all 0.3s;
}

.App {
  text-align: center;
  height: 100vh;
  display: inline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-left {
  text-align: left;
}

.card-header {
  text-align: left;
  background-color: #49494A !important;
  color: #ffffff !important;
  width: 100% !important;
}

.Card-outer {
  background-color: #eef5f9 !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px !important;
}

.Card-progressbar {
  padding: 3%;
  box-shadow: none !important;
}
.Card-progressbar:hover {
  box-shadow: none !important;
}

.custom-button {
  background-color: #F7901D !important;
  border-color: #F7901D !important;
  color: #ffffff !important;
}

/* Apply a border radius of 1rem to all Card components */
.card {
  border-radius: 1rem !important;
  margin-top: 0% !important;
}

.icon:hover {
  color: #18749C;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.App {
  height: "500px";
  overflow: "auto";
}/*# sourceMappingURL=main.css.map */