@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* TYPOGRAPHY */
/* Google fns */
@import url("https://fns.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
@import url("https://fns.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900");
body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}

/* Additional styles for other elements */
h1, h2, h3, p {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
}

h1 {
  display: block;
  font-size: 2.5rem;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 2rem;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.75rem;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1.5rem;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 1.5rem;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal !important;
}

.btn-s {
  background-color: #F7901D;
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.87rem;
  font-weight: 400;
  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
}
.btn-s:hover {
  background-color: #f7a84f;
  transition: all 0.3s;
}

.btn-s-1 {
  background-color: #18749C;
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.87rem;
  font-weight: 400;
  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
}
.btn-s-1:hover {
  background-color: rgb(53, 143, 182);
  transition: all 0.3s;
}

.btn-d {
  background-color: red;
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.87rem;
  font-weight: 400;
  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
}
.btn-d:hover {
  background-color: rgb(252, 63, 63);
  transition: all 0.3s;
}

.btn-c {
  background-color: "#FCFCFC";
  border: 1px solid #ced4da;
  color: #888a8b;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.87rem;
  font-weight: 400;
  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 5px;
}
.btn-c:hover {
  background-color: #e9e8e8;
  transition: all 0.3s;
}

.App {
  text-align: center;
  height: 100vh;
  display: inline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-left {
  text-align: left;
}

.card-header {
  text-align: left;
  background-color: #49494A !important;
  color: #ffffff !important;
  width: 100% !important;
}

.Card-outer {
  background-color: white !important;
  border: none !important;
  border-radius: 0px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Card-progressbar {
  padding: 3%;
  box-shadow: none !important;
}
.Card-progressbar:hover {
  box-shadow: none !important;
}

.custom-button {
  background-color: #f7901d !important;
  border-color: #f7901d !important;
  color: #ffffff !important;
}

/* Apply a border radius of 1rem to all Card components */
.card {
  border-radius: 0.5rem !important;
  margin-top: 0% !important;
}

.icon:hover {
  color: #18749C;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.App {
  height: "480px";
  overflow: "auto";
}

.alertStyle {
  border-radius: 0;
  padding: "1.25rem";
  width: "400px";
  height: "120px";
  align-items: "center";
  justify-content: "space-evenly";
}

.messageStyle {
  margin-bottom: "0.5rem";
}

.card-body.custom-card-body {
  color: #4f4f4f; /* Set your desired font color */
  font-size: "14px" !important;
}

.custom-footer {
  background-color: #fcfcfc;
  color: #4f4f4f; /* Set your desired font color */
  font-size: "14px" !important;
  border-top: 2px solid #ebeaea; /* Replace 'red' with your desired color */
  border-width: 3px; /* Replace '3px' with your desired width */
}

.custom-card {
  border-color: #fcfcfc;
  /* Set your desired font color */
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.delete-btn:focus {
  outline: none;
}

/* Optional: Add hover effect to the icon */
.delete-btn:hover .bi-x-lg {
  transform: scale(1.1);
}

.tab-content {
  padding-top: 10px; /* Add some padding to separate tabs from content */
}

.directory-path {
  margin-left: 10px;
  font-size: 14px;
  color: #18749C;
}

.directory-path span {
  cursor: pointer;
}

.full-screen-page {
  height: 100vh;
  background-color: #f0f0f0; /* Set your desired background color */
  padding: 20px;
}

.pipeline-card {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px;
  padding: 10px;
  background-color: #ffffff; /* Set your desired card background color */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pipeline-card h2 {
  margin-top: 10px;
  font-size: 18px;
  margin-left: 10px;
}

.icon-container {
  align-items: center;
}

.close-x {
  margin-right: 0.25rem;
  color: #a8a9aa !important; /* Default text color */
  border-color: #a8a9aa !important; /* Default outline color */
  /* Change color on hover */
}
.close-x:hover {
  color: white !important; /* New text color on hover */
  border-color: #a8a9aa !important; /* New outline color on hover */
  background-color: #a8a9aa !important;
}

.searchOb:focus {
  border-width: 1px !important;
}

.status-cell {
  display: flex;
  align-items: center;
  width: 15px; /* Set a fixed width for the cell */
}

.status-dot {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px; /* Add spacing between dot and status text */
}

.success-dot {
  background-color: green;
}

.failure-dot {
  background-color: red;
}

.icon-green,
.icon-red,
.icon-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

.icon-green {
  background-color: green;
  color: white;
}

.icon-red {
  background-color: #fa8c0f;
  color: white;
}

.icon-blue {
  background-color: #18749C;
  color: white;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #719bc9;
  color: white;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 15px;
}

.custom-borderless-table {
  border: none !important;
}

.custom-borderless-rows td {
  border: none;
  border-top: 1px solid #dee2e6; /* Set the desired border color and style */
}/*# sourceMappingURL=main.css.map */