.btn-save {
  background-color: #f5ac5a;
  border: none;
}

.btn-save:hover {
  background-color: #f7901d;
}

.btn-cl {
  /* background-color: #887d70; */
  border: none;
}

.error {
  color: rgb(207, 6, 6);
  font-size: small;
}

.mandatory-note {
  color: rgb(207, 6, 6);
  font-style: italic;
  font-size: small;
}
