.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  /* font: inherit; */
  background-color: #eeeff5;
  letter-spacing: 1px;
  
}

input[type="text"],
input[type="password"]{
  height: 25px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  content:" *";
}
/* input[type="text"]:after{
    content:" *";
    color: red;
  } */

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background: #007cb0;
  /* border: 1px solid blue; */
  color: #fff;
  padding: 10px 20px;
  align-items: left;
}
.SignInButton{
    padding: 7px 16px;
    background-color: #007cb0;
    border-color: #007cb0;
    border-width: 1px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    touch-action: manipulation;
    cursor: pointer;
    font-family: inherit;
    width: 100%;
    position: relative;
    outline: none;
    box-sizing: border-box;
    margin-top: 25px;
}

.SignInButton:hover {
    background: white;
  color: #007cb0;
}

.OtherSignIn {
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.OtherSignInButtons {
  padding: 5px 5px;
    background-color: white;
    border-color: #007cb0;
    font-size: 14px;
    font-weight: 400;
    touch-action: manipulation;
    cursor: pointer;
    font-family: inherit;
    width: 100%;
    border-width: 1px;
    /* position: relative; */
    /* box-sizing: border-box; */
    margin-top: 20px;
    margin-right : 10px;
    color: #5c5e60;
    white-space: nowrap;
   /* text-align: center; */
   display: inline-block;
}

.OtherSignInButtons:hover {
  /* background: #007cb0; */
  color: rgb(163, 4, 4);
  border-color: rgb(163, 4, 4); ;
}



/* input[type="submit"]:hover {
  background: #6cf0c2;
} */

hr {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 2px;
    background-color: #d8dbdd;
    border: none;
}
.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 20px 100px 100px 100px;
  margin-top: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px 200px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
text-align: left;
color: #5c5e60
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}