.JobFormContainer {
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px !important;
}
.jobFormItem {
    font-size: 14px;
    font-weight: 400;
}
.jobFormBtn {
    /* font-size: 14px;
    background-color: #F7901D;
    overflow: hidden;
    border-radius: 4px;
    border-style: none; */
    background-color: #F7901D !important;
    border: none !important ;
    color: #fff !important;
    padding: 0.5rem 1.5rem !important;
    text-align: center !important;
    text-decoration: none !important;
    /* display: inline-block !important; */
    font-size: 0.87rem !important;
    font-weight: 400 !important;
    cursor: pointer !important;
    transition: all 0.3s !important;
    border-radius: 5px !important;
}
.jobFormBtn:active:hover,.jobFormBtn:hover {
    background-color: #fcb160 !important;
}