.modalContainer {
    font-size: 12px;
    line-height: 1;
    
}
.modalTitle {
    font-size: 12px !important;
    font-weight: 600 !important;
}

.selectOptions {
    font-size: 12px !important;
}
.popUpCloseBtn {
    margin-right: 10px;
}
.popUpTableVerticalScrollBar {
    height: 63vh !important;
    overflow: auto !important;
    /* height: 500px; */
}