.suggetionPopupIconstyle {
    color: rgb(53, 143, 182);
    margin-left: 3px;
  } 

  .suggestionPopUpBox {
    background-color: #f8f8f8;
    color: #4f4f4f;
    font-size: 9px;
    max-width: 400px;
    text-align: center;

  }