:root {
  --color-white: #ffffff;
  --color-light: #f1f5f9;
  --color-black: #121212;
  --color-night: #001632;
  --color-red: #f44336;
  --color-blue: #1a73e8;
  --color-gray: #80868b;
  --color-grayish: #dadce0;
  --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
  	0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  	0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  	0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
  font-size: 100%;
  font-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.ion-logo-apple {
  font-size: 1.65rem;
  line-height: inherit;
  margin-right: 0.5rem;
  color: var(--color-black);
}
.ion-logo-google {
  font-size: 1.65rem;
  line-height: inherit;
  margin-right: 0.5rem;
  color: var(--color-red);
}
.ion-logo-facebook {
  font-size: 1.65rem;
  line-height: inherit;
  margin-right: 0.5rem;
  color: var(--color-blue);
}

.text {
  font-family: inherit;
  line-height: inherit;
  text-transform: unset;
  text-rendering: optimizeLegibility;
}
.text-large {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-black);
}
.text-normal {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-black);
}
.text-links {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-blue);
}
.text-links:hover {
  text-decoration: underline;
}

.main .wrapper {
  max-width: 28rem;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: var(--color-black);
  background: var(--color-white);
  box-shadow: var(--shadow-large);
}
.main .wrapper .form {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
.main .wrapper .form .input-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.main .wrapper .form .input-field {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: var(--color-black);
  background: var(--color-light);
  text-transform: unset;
  text-rendering: optimizeLegibility;
}
.main .wrapper .form .input-submit {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  min-width: 40%;
  height: auto;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: var(--shadow-medium);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
.main .wrapper .striped {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.main .wrapper .striped-line {
  flex: auto;
  flex-basis: auto;
  border: none;
  outline: none;
  height: 2px;
  background: var(--color-grayish);
}
.main .wrapper .striped-text {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  color: var(--color-black);
  margin: 0 1rem;
}
.main .wrapper .method-control {
  margin-bottom: 1rem;
}
.main .wrapper .method-action {
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.35rem 1.25rem;
  outline: none;
  border: 2px solid var(--color-grayish);
  border-radius: 2rem;
  color: var(--color-black);
  background: var(--color-white);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease;
}
.main .wrapper .method-action:hover {
  background: var(--color-light);
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}/*# sourceMappingURL=login.css.map */


.loginContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.login-left {
  background-color: #ED8109;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-left .login-img-text {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  max-width: 350px;
  margin-top: 18px;
}

.login-right {
  background-color: white;
  width: 50%;
  height: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-right .brand-logo {
  height: 56px;
  width: 126px;
}

.login-right .brand {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 77px;
}

.login-right .brand h1 {
  font-size: 22px;
  color: #1C1C1C;
  font-weight: 600;
}

.login-right .login-form {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right .login-form .email-input,.password-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #5C5A5A;
  font-size: 14px;
  font-weight: 500;
  color: #5C5A5A;
  height: 32px;
}

.login-right .login-form .email-input {
  margin-bottom: 22px;
}

.login-right .login-form .password-input {
  margin-top: 22px;
}

.login-right .login-form .email-input:focus,.password-input:focus {
  outline: none;
}

.login-right .login-form .forget-password {
  display: flex;
  justify-content: flex-end;
  margin-top: 13px;
}

.login-right .login-form .forget-password span {
  font-size: 12px;
  color: #F7901D;
  cursor: pointer;
}

.login-right .login-form .login-button {
  font-size: 12px;
  background-color: #F7901D;
  cursor: pointer;
  color: #fff;
  width: 100%;
  padding: 14px 18px;
  border-radius: 4px;
  margin-top: 29px;
}

.login-right .login-form .or-text {
  font-size: 12px;
  color: #524E4E;
  text-align: center;
  margin: 9px 0;
}

.login-right .login-form .sso-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  background-color: #fff;
  cursor: pointer;
  color: #5C5A5A;
  width: 100%;
  padding: 14px 18px;
  border-radius: 4px;
  border: 1px solid #5C5A5A;
}

.login-right .login-footer p {
  font-size: 12px;
  font-weight: 500;
  color: #484848;
  margin-bottom: 20px;
}

.login-right .login-footer a {
  color: #F7901D;
}