body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 100vh;
}

.card-body.custom-card-body {
  color: #4f4f4f !important; 
  font-size: "14px" !important;
}

div#root {
  height: 100vh;
}

h1,
h2,
h3,
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 50px;
  transition: font-size 0.3s ease;
}

.back-button:hover {
  font-size: 18px; /* Increase the font size on hover */
}

.back-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.horizontal-line {
  position: absolute;
  margin: auto;
  top: 45px;
  left: 0;
  right: 0;
  height: 2px;
  width: 96.4%;
  background-color: #ececec;
}

.horizontal-line-1 {
  position: relative;
  margin: auto;
  top: -5px;
  left: 0;
  right: 0;
  height: 2px;
  width: 99.5%;
  background-color: #ececec;
}

.back-icon svg {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.back-text {
  font-size: 14px;
  font-weight: 500;
}

.form-control {
  font-size: 24px; /* Replace '16px' with your desired font size */
  color: #333; /* Replace '#333' with your desired font color */
}

/* Custom styles for dropdown options */
.dropdown-item {
  font-size: 14px; /* Replace '14px' with your desired font size */
  color: #4f4f4f; /* Replace '#555' with your desired font color */
  border-width: 2px;
  border-color: black;
}

.custom-select.custom-style {
  font-size: 13px !important;
  color: #4f4f4f !important;
  font-weight: 400 !important;
  /* border: "1px solid #4F4F4F"; */
}

.radio-group .form-check-input[type="radio"] {
  /* Style for the radio icon */
  /* Example: Add background color and border radius */
  /* background-color: #FCF5EF; */
  border-radius: 50%;
}

.radio-group .form-check-label {
  /* Style for the label text */
  /* Example: Add padding and margin */
  padding-left: 0px;
  margin-bottom: 0;
  font-size: 13px;
}

.radio-group .form-check-inline {
  /* Spacing between options */
  /* Example: Add margin-right */
  margin-right: 20px;
  background-color: #fcf5ef;
  padding: 5px 20px 5px 40px;
  border-radius: 20px;
}

.key {
  margin-right: 40px;
  width: 250px;
  color: "#4F4F4F" !important;
}

.colon {
  margin-right: 20px;
  margin-left: 40px;
  color: "#4F4F4F" !important;
}

.value {
  margin-left: 10px;
  color: "#4F4F4F" !important;
}

td,
th {
  vertical-align: middle;
}
thead {
  vertical-align: middle;
}

.table {
  border: 1px solid #dee2e6; /* Outer border color */
  width: 100%;
}

.table-container {
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the table horizontally */
}

.progress-bar-vertical {
  width: 20px;
  height: 300px;
  transform: rotate(-90deg);
  transform-origin: right top;
  margin-top: 100px; /* Adjust as needed */
}

.MuiTableCell-root.MuiTableCell-head {
  background-color: rgb(79, 79, 79); /* Set your desired color here */
}

.circle {
  width: 14px;
  height: 14px;
  border: 2px solid;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 1000;
  background-color: white;
}

.first-circle {
  margin-bottom: 12px; /* Adjust as needed */
}

.vertical-line {
  width: 2px;
  background-color: darkgray;
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 23px;
  margin-left: -1px;
  z-index: 500;
  height: 98%;
}

.suggestPopupIcon {
  color: red !important;
}
/* .loader {
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
} */

.overflow-auto {
  overflow-y: auto;
  overflow-x: none;
}

.overflow-auto::-webkit-scrollbar {
  width: 8px;
}

.overflow-auto::-webkit-scrollbar-track {
  background-color: white;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 4px;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
}

.blurred {
  filter: blur(3px);
  pointer-events: none;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
div,
th,
td,
tr {
  font-family: "Poppins" !important;
}

th,
thead {
  background-color: "rgb(243, 243, 243)" !important;
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  /* padding-left: 0px;
  padding-top: 0px; */
  margin-top: 5px;
  padding: 0.25rem 0.75rem;
}

.react-tagsinput--focused {
  border-color: rgb(53, 143, 182);
}

.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  /* color: #638421; */
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}

.trash :hover {
  color: firebrick;
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease 0.2s !important;
}

.edit :hover {
  color: #18749c;
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease 0.2s !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
