.heading {
    font-weight: 500;

}

.heading_customer {
    font-weight: 500;
    cursor: pointer;
}

.horizontalLine {

    background-color: hsl(0, 11%, 72%);
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
     height: 1.75px;
     font-weight: 400px;
   }



   .searchNavbarBtnStyleAdd {
    background-color: #F7901D !important;
    color: white !important; 
    font-size: 14px !important;
    text-transform: none !important;
}
.AddOutlinedIcon {
    font-size: medium !important;
    /* color: #F3F3F3 !important; */

    opacity: 1 !important;
}
.listOfPipelineNavbar {
    background-color: #E0E0E0 !important;
}
.viewBtnStyle:hover {
color: #18749C !important;
cursor: pointer !important;
}

.searchInputStyle {
    width: 50% !important;
    margin-left: 0 !important;
}

.searchInputWidth {
    width: 100% !important;
    margin: 0 !important;
}

.navbarStyle {
    padding: 0 !important;
    min-height: 48px !important;
}

.idColumnStyle {
    color: rgb(53, 143, 182) !important;
}

.queryDetailsClosebtn {
    display: flex;
    justify-content: space-between;
    border-style: none;
    
}

.closeQuerybtn {
    cursor: pointer;
    background-color: rgb(224, 224, 224);

}

.maxWidthStyle {
    max-width: 1300px !important;
}

.horizontal-line-Upload {
    position: absolute;
    top: 77px;
    height: 2px;
    width: 98%;
    left: 10px;
    right: 0;
    background-color: #ececec;
}

.footer-style{
    padding: 0px 9px 0px 9px;
    border: none;
}

.back-button-style {
    padding: 4px;
}